<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-text">
                
                <h1>Unlock Your Global Potential</h1>
                <h1>من تونس إلى العالم</h1>
                <h1>We Connect Tunisian Students With Global Universities</h1>
                <p>Your pathway to international education begins here. With unwavering dedication, we accompany you
                    through every step of the process, from initial university applications to securing your visa,
                    ensuring a seamless transition to your new destination.</p>
                <div class="hero-buttons">
                    <a href="#" class="btn btn-primary" routerLink="/login">
                        Get Started
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" style="margin-left: 8px;">
                            <path d="M7 17L17 7M17 7H7M17 7V17" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="hero-image">
                <img src="https://ik.imagekit.io/p51pyfdvv/0D2A9632.JPG?updatedAt=1756104670315"
                    alt="Student working in laboratory">
            </div>
        </div>
    </div>
</section>