<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="nav-container">
    <div class="nav-logo">
      <div class="logo-icon">
        <img src="https://ik.imagekit.io/p51pyfdvv/Design%20sans%20titre%20(5).png?updatedAt=1756125953598" alt="EduHelper Logo" width="100" height="100">
      </div>
      
    </div>
    <div class="nav-menu" [class.active]="isMenuOpen">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link"
          (click)="closeMenu()">
          Home
        </a>
        <a routerLink="/aboutus" routerLinkActive="active" class="nav-link" (click)="closeMenu()">
          About Us
        </a>
        <a routerLink="/careers" routerLinkActive="active" class="nav-link" (click)="closeMenu()">
          Life At EduHelper
        </a>
        <a routerLink="/community" routerLinkActive="active" class="nav-link" (click)="closeMenu()">
          Community
        </a>
        <a routerLink="/blog" routerLinkActive="active" class="nav-link" (click)="closeMenu()">
          Blog
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdE4eP0b1BtlBONULhxtHOu2CN0NUaa76fBc5kDdHN_ZgFtAA/viewform?usp=sharing&ouid=101978452743295857447" class="nav-link login-btn" (click)="closeMenu()">
          Get started
        </a>
    </div>

    <div class="nav-toggle" [class.active]="isMenuOpen" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>